
    .dark-mode {
        background-color: #1a1a1a !important; /* Fundo escuro */
        color: #e0e0e0; /* Texto claro */
    }

    .dark-mode .card,
    .dark-mode .modal-content,
    .dark-mode .hero-section {
        background-color: #2c2c2c !important; /* Componentes mais escuros */
        color: #e0e0e0 !important;
        border-color: #444 !important;
    }
    
    .dark-mode .table {
        color: #e0e0e0;
    }
    .dark-mode .table-striped > tbody > tr:nth-of-type(odd) > * {
        background-color: #383838;
    }
    
    .dark-mode .form-control {
        background-color: #383838;
        color: #e0e0e0;
        border-color: #555;
    }
    .dark-mode .form-control:focus {
        background-color: #383838;
        color: #e0e0e0;
        border-color: #777;
    }
    .dark-mode .input-group-text {
        background-color: #444;
        color: #e0e0e0;
    }

